---
import Layout from '../layouts/BlogPost.astro';
---

<Layout
	title="About StrongEra"
	description="StrongEra intro post"
	pubDate={new Date('July 09 2025')}
	heroImage="/blog-placeholder-about.jpg"
>
	<p>
		Coming soon. Boulder's premier strength studio with a focus on strength for women at all stages
    of life. All are welcome, but we focus on the needs of women, smaller framed individuals and
    others not well served by the traditional coaching, equipment and workouts. Join us building
    community and supporting members through all eras of their lives. 
	</p>
</Layout>
